In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [47]:
df_raw = pd.read_csv("2018 NCWIT Award for Aspirations in Computing Recipient.csv")

## Question 5

In [57]:
df_gb_5 = df_raw.groupby('Have you joined the NCWIT Aspirations in Computing Facebook group?')
agg_d = {'Have you joined the NCWIT Aspirations in Computing Facebook group?' : 'count'}
df_agg_5 = df_gb_5.agg(agg_d)
df_agg_5

                                                    Have you joined the NCWIT Aspirations in Computing Facebook group?
Have you joined the NCWIT Aspirations in Comput...
No                                                                                                976
Response                                                                                            1
Yes                                                                                               666

## Question 6

In [56]:
q6 = pd.read_csv('Question6Code.csv')

In [53]:
q6 = q6.dropna()
q6.head()

,Respondent ID,"In order to improve our program, please tell us why you have not joined the Facebook Group.",CODE
1,6.928373e+09,I did not know that there was a Facebook group...,dk
2,6.921763e+09,I actually did not have a Facebook at the time...,nf
5,6.918388e+09,I do not use Facebook. Most people my age have...,nf
6,6.918091e+09,I do not have a Facebook account.,nf
7,6.917209e+09,I have not joined the Facebook group because I...,nf

In [54]:
q6['CODE'].unique()

array(['dk', 'nf', 'na', 'p', 'ni', 'fp'], dtype=object)

In [55]:
q6_gb = q6.groupby('CODE')
agg_d = {'CODE' : 'count'}
q6_agg = q6_gb.agg(agg_d)
q6_agg

      CODE
CODE
dk     200
fp      45
na      48
nf     476
ni      16
p       99

## Question 7